*{
    font-family: 'Comic Sans MS';
}
body {
    background-color: #2c2734;
}

h1 {
    color: #ae6679 
}

.imageGalleryItem h1 {
    color: #c89cff;
}

.imageGalleryItem p {
    color: #ae6679 ;
    letter-spacing: 2px;
}

.textBlock p {
    color: #ae6679 ;
    letter-spacing: 2px;
}

.container{
    position: relative;
    padding: 0px 0 80px 0;
    background: #2c2734;
    z-index: 10;

    width: 100%;
    float: left;
}

.container .divisions {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    margin-top: 40px;
    margin-bottom: 2%;
}


.container .divisions .division {
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #6a73b1 ;
    border-bottom: 32px solid #6a73b1 ;
    background-color: #a5b8fe  ;
    width: 45%;
    float: left;
    margin: 10px;
    display: flex;
}


.container .divisions .divisionN {
    padding: 20px;
    box-sizing: border-box;
    width: 45%;
    float: left;
    margin: 10px;
}

.container .divisions .divisionN img {
    max-height:100%; max-width:100%;
}

.divisionTitle {
    flex: 3;
}

.divisionTitle h1 {
    color: #6a73b1;
}

.divisionLogo {
    flex: 1;
}

.divisionLogo img {
    width: 50%;
    float: right;
}

.container span{
    text-transform: uppercase;
    display: block; 
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    margin:0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 167.272727272%;
    
    background: #000 url(Resources/splashpagesize.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner2 {
    width: 100%;
    position: relative;
  top: 0;
  left: 0;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.videoBlock {
    display: block;
    
    padding-bottom: 10px;
}

.container .videoBlock {
    width:100%;
      margin-top: -180px;
      margin-bottom: 60px;
}
  

.imageBlock {
    text-align: center;
    padding: 10px;
}

.imageLink {
    text-decoration: none;
}

.imageGalleryBlock {
    text-align: center;
    padding: 10px;
}

.imageGalleryItem {
    text-align: center;
    width: 40%;
    padding: 15px;
    display: inline-block;
}

.imageGalleryItemSmall {
    text-align: center;
    width: 25%;
    padding: 15px;
    display: inline-block;
}

.imageGalleryItem img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.imageGalleryItemSmall img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.image {
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}


.textBlock {
    width: 80%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.homeButton {
    position: fixed;
}

a:link {
    color: #6a73b1 ;
  }
  
  /* visited link */
  a:visited {
    color: #6a73b1 ;
  }
  
  /* mouse over link */
  a:hover {
    color: #6a73b1 ;
  }
  
  /* selected link */
  a:active {
    color: #6a73b1 ;
  }

