@font-face {
    font-family: myFirstFont;
    src: url(Bebas-Regular.ttf);
  }

*{
    font-family: 'myFirstFont';
}

body {
    background-color: #2c2734;
}

h1 {
    color: #ae6679 ;
}

p {
    font-size: 20px;
}

.imageGalleryItem h1 {
    color: #c89cff;
}

.imageGalleryItemB h1 {
    color: #c89cff;
}

.imageGalleryItem p {
    color: #ae6679 ;
    letter-spacing: 2px;
}

.imageGalleryItemB p {
    color: #ae6679 ;
    letter-spacing: 2px;
}

.textBlock p {
    color: #ae6679 ;
    letter-spacing: 2px;
}

.container{
    position: relative;
    padding: 0px 0 80px 0;
    background: #2c2734;
    z-index: 10;

    width: 100%;
    float: left;
}

.container .divisions {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    margin-top: 40px;
    margin-bottom: 2%;
    align-content: center;
    text-align: center;
}

.container .divisions .divisionN img {
    max-height:100%; max-width:100%;
}

.divisionTitle {
    flex: 3;
}

.divisionTitle h1 {
    color: #6a73b1;
}

.divisionLogo {
    flex: 1;
}

.divisionLogo img {
    width: 50%;
    float: right;
}

.container span{
    text-transform: uppercase;
    display: block; 
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    margin:0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 167.272727272%;
    
    background: #000 url(Resources/splashpagesize.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner2 {
    width: 100%;
    position: relative;
  top: 0;
  left: 0;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.videoBlock {
    display: block;
    
    padding-bottom: 10px;
}

.container .videoBlock {
    width:100%;
      margin-top: -180px;
      margin-bottom: 60px;
}

@media (min-width: 600px){
    .imageGalleryItemB {
        text-align: center;
        width: 40%;
        padding: 15px;
        display: inline-block;
    }

    .imageGalleryItemSmall {
        text-align: center;
        width: 20%;
        padding: 15px;
        display: inline-block;
    }

    .container .divisions .divisionN {
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        width: 45%;
        
        transition: transform .2s;
        margin: 10px;
    }
}

.divisionN:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

@media (max-width: 600px)
{
    .imageGalleryItemB {
        
    }

    .imageGalleryItemSmall {
        text-align: center;
        width: 40%;
        padding: 15px;
        display: inline-block;
    }

    .container .divisions .divisionN {
        padding: 10px;
        box-sizing: border-box;
        width: 90%;
        display: inline-block;
        margin: 10px;

        transition: transform .2s;
    }
}

.imageBlock {
    text-align: center;
    padding: 10px;
}

.imageBlock img{
    max-width: 100%;
    min-width: 100%;
}

.imageLink {
    text-decoration: none;
    transition: transform .2s;
}

.imageLink img:hover {
    transform: scale(1.1); 
}

.imageGalleryBlock {
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*height: 200px;*/
  /*border-top: 3px solid #ae6679;
  border-bottom: 3px solid #ae6679;*/
}

.imageGalleryItemB img {
    padding: 5%;
    flex: 1;
    flex-basis: 45%;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.imageGalleryItem {
    text-align: center;
    width: 40%;
    padding: 15px;
    display: inline-block;
}

.imageGalleryItem img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}



.imageGalleryItemSmall img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}


.image {
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}


.textBlock {
    width: 80%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}


.homeButton {
    width: 10%;
    position: fixed;

    opacity: 0.6;
    transition: 0.3s;
}

.homeButton:hover {
    opacity: 1;
}

a:link {
    color: #6a73b1 ;
  }
  
  /* visited link */
  a:visited {
    color: #6a73b1 ;
  }
  
  /* mouse over link */
  a:hover {
    color: #6a73b1 ;
  }
  
  /* selected link */
  a:active {
    color: #6a73b1 ;
  }

  .flip-card {
    background-color: transparent;
    width: 40%;
    perspective: 1000px;
    object-fit: contain; /* Remove this if you don't want the 3D effect */
    display: inline-block;
    padding: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    object-fit: contain;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    object-fit: contain;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    object-fit: contain;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #ae6679 ;
    color: white;
    transform: rotateY(180deg);
    object-fit: contain;
  }

  .flip-card-back h1 {
    color: white;
  }

  .flip-card-back p {
    color: white;
  }
