*{
    font-family: 'Courier';
}
body {
    background-color: #2c2734;
}

h1 {
    color: #94c8ff;
}

.container{
    position: relative;
    padding: 0px 0 80px 0;
    background: #222;
    z-index: 10;

    width: 100%;
    float: left;
}

.container .divisions {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    margin-top: 40px;
    margin-bottom: 2%;
}

.container .divisions .divisionL {
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-bottom: 32px solid #444;
    width: 60%;
    float: left;
   margin: 10px;
}

.container .divisions .divisionR {
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-bottom: 32px solid #444;
    width: 60%;
    float: right;
    margin: 10px;
}

.container span{
    text-transform: uppercase;
    display: block; 
}

.banner {
    position: relative;
    width: 100%;
    padding-bottom: 167.272727272%;
    background: #000 url(Resources/SplashScreen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.videoBlock {
    text-align: center;
    padding: 10px;
}

.container .videoBlock {
    width: 100%;
      float: left;
      margin-top: -180px;
      margin-bottom: 60px;
}
  

.imageBlock {
    text-align: center;
    padding: 10px;
}

.imageGalleryBlock {
    text-align: center;
    padding: 10px;
}

.imageGalleryItem {
    text-align: center;
    width: 40%;
    padding: 15px;
    display: inline-block;
}

.imageGalleryItemSmall {
    text-align: center;
    width: 10%;
    padding: 15px;
    display: inline-block;
}

.imageGalleryItem img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.imageGalleryItemSmall img {
    float: left;
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.image {
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}


.textBlock {
    width: 80%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.homeButton {
    position: fixed;
}

a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: hotpink;
  }

